:root {
    /* Colors */

    --Main: #E6C744;
    --SECONDARY: #C2C8DA;
    --BLACK: #000000;
    --WHITE: #FFFFFF;
    --other: #EBD96B;


    /* Fonts */

    --FONT-PRIMARY: 'Poppins-Black';
    --FONT-SECONDARY: 'Poppins-Medium';
    --FONT-THIRD: 'Poppins-Regular';

    /* Font Sizes */
    --FONT-EXTRA-SMALL-22: 1.076rem;
    --FONT-SMALL-24: 1.174rem;
    --FONT-REGULAR-32: 1.566rem;
    --FONT-MEDIUM-36: 1.763rem;
    --FONT-LARGE-40: 1.957rem;
    --FONT-EXTRA-LARGE-48: 2.349rem;
    --FONT-BIGGER-55: 2.691rem;
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--FONT-THIRD);
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;
}

nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 20px;
}

.logo {
    display: flex;
    gap: 13px;
    align-items: center;
}

.logo img {
    height: 29px;
    width: 31px;
}

.logo p {
    font-family: var(--FONT-PRIMARY);
    font-size: var(--FONT-LARGE-40);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 64px;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--BLACK);
    font-size: var(--FONT-EXTRA-SMALL-22);
    
}


nav button {
    height: 55px;
    width: 120px;
    border: none;
    border-radius: 7px;
    background-color: var(--BLACK);
    color: white;
    font-size: var(--FONT-SMALL-24);
    cursor: pointer;
}


.hero {
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: 30px;
    background-color: #F4F6F5;
    border: none;
    border-radius: 50px;
    display: flex;
    /* gap: 60px; */
    justify-content: space-between;
    /* align-items: center; */
}

.text {
    margin-left: 80px;
    margin-top: 75px;
}

.text h1 {
    font-size: 65px;
    font-family: var(--FONT-PRIMARY);
    line-height: 120%;
}



.highlight-white {
    font-family: var(--FONT-PRIMARY);
}

.highlight-yellow{
    font-family: var(--FONT-PRIMARY);
}

.highlight {
    position: relative;
    display: inline-block; 
    z-index: 1; 
    padding: 0 5px; 
  }
  
  .highlight-white::before{
    content: '';
    position: absolute;
    top: 50%; 
    right: -70px;
    width: 150%;
    height: 90%;
    transform: translateY(-50%) rotate(-2deg);
    z-index: -1;
  }
  
.highlight-yellow::before {
    content: '';
    position: absolute;
    top: 45%; 
    right: -35px;
    width: 120%;
    height: 90%;
    transform: translateY(-50%) rotate(-2deg);
    z-index: -1;
  }
  
  .highlight-white::before {
    background-color: var(--WHITE);
  }
  
  .highlight-yellow::before {
    background-color: var(--Main);
  }

.text p {
   margin-top: 40px; 
   font-size: 18px;
   font-family: var(--FONT-THIRD);
}

.text button {
    height: 55px;
    width: 150px;
    border: none;
    border-radius: 7px;
    background-color: var(--BLACK);
    color: white;
    font-size: var(--FONT-SMALL-24);
    margin-top: 32px;
    cursor: pointer;
}
  


.main-img {
    align-self: flex-end;
}



.hero-img {
    max-width: 600px;
    height: auto;
    vertical-align: middle;
    margin-right: 50px; /* Brings image closer to the left side */
}


.stars {
    position: relative;
}

.stars img {
    position: absolute; /* Allows explicit placement within the .hero container */
    width: 50px;
    height: 48px;
    /* background-color: #C2C8DA; */
}

.stars img:nth-child(1) {
    top: 10%; /* Adjust the vertical position */
    right: 200px; /* Adjust the horizontal position */
}

.stars img:nth-child(2) {
    top: 9%;
    right: 700px;
}

.stars img:nth-child(3) {
    bottom: 4%;
    right: 650px;
}

.stars img:nth-child(4) {
    bottom: 15%;
    right: 50px;
}


.brands {
    background-color: var(--Main);
    width: 100vw;
    height: 130px;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 50px;
    position: relative;
    margin-top: 50px;
}

.arivals {
    display: flex;
    /* gap: 47px; */
    justify-content: space-between;
    align-items: center;
}

.arivals img {
    width: 350px;
}