:root {
    /* Colors */

    --Main: #E6C744;
    --SECONDARY: #C2C8DA;
    --BLACK: #000000;
    --WHITE: #FFFFFF;


    /* Fonts */

    --FONT-PRIMARY: 'Poppins-Black';
    --FONT-SECONDARY: 'Poppins-Medium';
    --FONT-THIRD: 'Poppins-Regular';

    /* Font Sizes */
    --FONT-EXTRA-SMALL-22: 1.076rem;
    --FONT-SMALL-24: 1.174rem;
    --FONT-REGULAR-32: 1.566rem;
    --FONT-MEDIUM-36: 1.763rem;
    --FONT-LARGE-40: 1.957rem;
    --FONT-EXTRA-LARGE-48: 2.349rem;
    --FONT-BIGGER-55: 2.691rem;
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins-Regular';
}

.wrapper {
    max-width: 1718px; 
    margin: 0 auto; 
    padding: 0 100px; 
}

nav {
    padding-top: 2.251rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 3.131rem;
    list-style: none;
    align-items: center;
}

nav a {
    text-decoration: none;
}


.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 1.53rem;
    height: 1.419rem;
}

.logo-text {
    padding-left: 0.636rem;
    font-family: var(--FONT-PRIMARY);
    font-size: var(--FONT-LARGE-40);
}


.sign-up {
    margin-left: 13px;
    width: 134px;
    height: 62px;
    background-color: var(--BLACK);
    border: none;
    border-radius: 0.625rem;
    color: var(--WHITE);
}

























